Importing libraries

In [5]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

print('Libraries imported.')

Libraries imported.

In [12]:
pip install beautifulsoup4 as bs4

Requirement already satisfied: beautifulsoup4 in /srv/conda/envs/notebook/lib/python3.6/site-packages (4.9.3)
Collecting as
  Downloading as-0.1-py3-none-any.whl (2.2 kB)
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /srv/conda/envs/notebook/lib/python3.6/site-packages (from beautifulsoup4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=535c6eb5a5e262fd2a71dc505bc6963e7ad4a4beab85ee84700c3d92561e40c6
  Stored in directory: /home/jovyan/.cache/pip/wheels/19/f5/6d/a97dd4f22376d4472d5f4c76c7646876052ff3166b3cf71050
Successfully built bs4
Installing collected packages: as, bs4
Successfully installed as-0.1 bs4-0.0.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install html5lib

Requirement already satisfied: html5lib in /srv/conda/envs/notebook/lib/python3.6/site-packages (1.1)
Requirement already satisfied: webencodings in /srv/conda/envs/notebook/lib/python3.6/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from html5lib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
from bs4 import BeautifulSoup

In [21]:
pip install lxml

Collecting lxml
  Downloading lxml-4.6.1-cp36-cp36m-manylinux1_x86_64.whl (5.5 MB)
     |████████████████████████████████| 5.5 MB 2.5 MB/s eta 0:00:01     |███████                         | 1.2 MB 2.5 MB/s eta 0:00:02
Installing collected packages: lxml
Successfully installed lxml-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
import requests

Reading the data from the url provided

In [25]:
### Reading the data from Toronto Wiki
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)

In [26]:
### Convert the html data
data = response.text
soup = BeautifulSoup(data,'html.parser')
wiki_table=soup.find('table')

In [29]:
### Dataframe using pandas
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)
df.head()

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood]
Index: []

In [31]:
for tr_cell in wiki_table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [32]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [35]:
#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
#More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
#Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
#In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

Removing rows with borough "Not assigned"

In [39]:
# Removing rows with borough "Not assigned"

df2=df[df['Borough'].str.contains("Not assigned") == False].reset_index()
df2.head()

,index,Postalcode,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

Grouping the data by Postalcode and borough

In [41]:
# Group them by postal code and borough
df3= df2.groupby(['Postalcode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df3.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Using .shape to find the no. of rows of the dataframe.

In [43]:
df3.shape

(103, 3)

In [44]:
print('The number of rows in the of the dataframe is 103.')

The number of rows in the of the dataframe is 103.